body {
    background: linear-gradient(135deg,
  rgb(20, 0, 40),
  rgb(0, 0, 0),
  rgb(5, 10, 30)

);
    font-family: 'Press Start 2P', cursive;

}
h1 {
  color: #0ff;
  text-align: center;
  font-size: 60px;
  text-shadow: 
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
    font-family: 'Press Start 2P', cursive;
}
button {
    padding: 10px;
    background: rgb(74, 0, 224);
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: block;
    margin: 0 auto;
}
button:hover {
    background: rgb(142, 45, 226);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(142,45,226,0.5);
}
.neon {
  padding: 12px 30px;
  font-size: 18px;
  color: #fff;
  background: #111;
  border: 2px solid #0ff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #0ff;
}

.neon:hover {
  box-shadow: 0 0 20px #0ff, 0 0 40px #0ff;
  transform: scale(1.05);
}
.btn {
  padding: 12px 30px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background: linear-gradient(45deg, #dd2476, #ff512f);
  transform: scale(1.08);
}